<h2>Log In</h2>
<div class="restaurant-summary">
  <%= form_for :session, url: sessions_path do |f| %>
  	<div class='field'>
  		<strong><%= f.label :email %></strong><br>
  		<%= f.email_field :email %>
  	</div>
    <br>
    <div class='field'>
  		<strong><%= f.label :password %></strong><br>
  		<%= f.password_field :password %>
  	</div>
    <br>
    <div class="actions">
      <div class="button">
    	  <strong><%= f.submit 'Log In' %></strong>
      </div>
    </div>
  <% end %>
</div>
