<h2><%= current_user.name.upcase %></h2>
<div class="restaurant-summary">
  <p><%= link_to "Edit Profile", edit_users_path(current_user) %></p>
  <hr>
  <div class="upcoming-reservations">
    <h3>Upcoming Reservations</h3>
    <% count = 0 %>
    <ol>
      <% @user.reservations.each do |reservation| %>
      <li>
        <% if reservation.date >= Date.today %>
          <%= reservation.date %> Location: <%= Restaurant.find(reservation.restaurant_id).name %> <br>
          Time: <%= reservation.time %> Party Size: <%= reservation.party_size %> <br>
          <%= link_to 'Edit', edit_restaurant_reservation_path(reservation.restaurant_id, reservation.id) %> | <%= link_to 'DELETE' , restaurant_reservation_path(reservation.restaurant_id, reservation.id), method: :delete, data: {confirm: "Are you sure you want to delete this reservation?"} %>
          <% count += 1 %>
        <% end %>
      </li>
      <% end %>
    </ol>
    <%= "No upcoming Reservations" if count == 0 %>
  </div>
  <hr>
  <div class="password_digest-reservations">
    <h3>Past Reservations</h3>
    <% count = 0 %>
    <ol>
      <% @user.reservations.each do |reservation| %>
      <% if reservation.date < Date.today %>
        <li>
          <p>Date: <%= reservation.date %> Location: <%= Restaurant.find(reservation.restaurant_id).name %> <br>
          Time: <%= reservation.time %> Party Size: <%= reservation.party_size %></p>
          <p> <%= link_to 'Delete' , restaurant_reservation_path(reservation.restaurant_id, reservation.id), method: :delete, data: {confirm: "Are you sure you want to delete this reesrvation'?"} %></p>
          <% count += 1 %>
          <% end %>
        </li>
      <% end %>
    </ol>
    <%= "No Past Reservations" if count == 0 %>
  </div>
  <hr>
  <div class="owned-restaurants">
    <% if @user.owned_restaurants.count > 0 %>
      <h3>Restaurants</h3>
    <% else %>
      <h3> Own a Restaurant? Click Below to Add</h3>
    <% end %>
  <%= link_to "Add Restaurant", new_restaurant_path() %>
    <ol>
      <% @user.owned_restaurants.each do |restaurant| %>
      <li>
        <%= restaurant.name %>  <br>
        <%= restaurant.address %> <br>
        <%= link_to 'Booked Reservations', restaurant_reservations_path(restaurant.id)  %> | <%= link_to 'Edit', edit_restaurant_path(restaurant.id) %> | <%= link_to 'Delete' , restaurant_path(restaurant.id), method: :delete, data: {confirm: "Are you sure you want to delete '#{restaurant.name}'?"} %>
      </li>
      <% end %>
    </ol>
  </div>
</div>
