<h2><%= current_user.name.upcase %></h2>

<% if current_user.loyalty_point > 0 %>
<h3> <%= "Loyalty Points Accrued: #{current_user.loyalty_point}" %> </h3>
<% end %>
<div class="restaurant-summary">
	<p><%= link_to "Edit Profile", edit_users_path(current_user) %></p>
	<hr>
	<div class="upcoming-reservations">
		<h3>Upcoming Reservations</h3>
		<% count = 0 %>
		<ul>
			<% @user.reservations.each do |reservation| %>
			<li class="list-background">
				<% if reservation.date >= Date.today %>
					<strong><%= Restaurant.find(reservation.restaurant_id).name %></strong><br>
          <%= Restaurant.find(reservation.restaurant_id).address %><br>
          <%= reservation.date %> / Time: <%= reservation.time %><br>
          Party Size: <%= reservation.party_size %> <br>
          <hr>
					<%= link_to 'Edit', edit_restaurant_reservation_path(reservation.restaurant_id, reservation.id) %> | <%= link_to 'Delete' , restaurant_reservation_path(reservation.restaurant_id, reservation.id), method: :delete, data: {confirm: "Are you sure you want to delete this reservation?"} %>
					<% count += 1 %>
				<% end %>
			</li>
			<% end %>
		</ul>
		<%= "No upcoming Reservations" if count == 0 %>
	</div>
	<hr>
	<div class="password_digest-reservations">
		<h3>Past Reservations</h3>
		<% count = 0 %>
		<ul>
			<% @user.reservations.each do |reservation| %>
  			<% if reservation.date < Date.today %>
          <strong><%= Restaurant.find(reservation.restaurant_id).name %></strong><br>
          <%= Restaurant.find(reservation.restaurant_id).address %><br>
          <%= reservation.date %> / Time: <%= reservation.time %><br>
          Party Size: <%= reservation.party_size %> <br>
          <hr>
  				<p> <%= link_to 'Delete' , restaurant_reservation_path(reservation.restaurant_id, reservation.id), method: :delete, data: {confirm: "Are you sure you want to delete this reesrvation'?"} %></p>
  				<% count += 1 %>
				<% end %>
				</li>
			<% end %>
		</ul>
		<%= "No Past Reservations" if count == 0 %>
	</div>
  <% if User::ALLOWED_ROLES.include?(current_user.role) %>
  	<hr>
  	<div class="owned-restaurants">
			<h3>Click Below to Add a Restaurant</h3>
			<%= link_to "Add Restaurant", new_restaurant_path() %>
			<h3>Your Restaurants</h3>
  		<ul>
  			<% @user.owned_restaurants.each do |restaurant| %>
    			<li class="list-background">
      			<strong><%= link_to restaurant.name, restaurant %></strong><br>
    				<%= restaurant.address %> <br>
            <hr>
    				<%= link_to 'Booked Reservations', restaurant_reservations_path(restaurant.id)  %><br>
            <%= link_to 'Edit', edit_restaurant_path(restaurant.id) %> | <%= link_to 'Delete' , restaurant_path(restaurant.id), method: :delete, data: {confirm: "Are you sure you want to delete '#{restaurant.name}'?"} %>
    			</li>
			  <% end %>
		  <% end %>
      </ul>
	</div>
</div>
