<%= form_for([restaurant, reservation]) do |f| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h3>There are <%= reservation.errors.count %> issues, please try again:</h3>
      <ol>
      <% reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ol>
    </div>
  <% end %>

  <div class="field">
    <strong><%= f.label :date %></strong><br />
    <%= f.date_field :date %>
  </div>
  <br>
  <div class="field">
    <strong><%= f.label :time %></strong><br />
    <%= f.time_field :time %>
  </div>
  <br>
  <div class="field">
    <strong><%= f.label :party_size %></strong><br />
    <%= f.number_field :party_size %>
  </div>
  <br>
  <div class="actions">
    <div class="button">
      <strong><%= f.submit %></strong>
    </div>
  </div>

<% end %>
