<%= image_tag("restaurant-banner_smaller_mask.jpg") %>
<h2> <%= @restaurant.name.upcase %> </h2>

<div class="restaurant-summary">
  <p>Description: <%= @restaurant.summary %><br>
</div>

<div class="restaurant-details">
  <p>Address: <strong><%= @restaurant.address %></strong><br>
    Neighbourhood: <strong><%= @restaurant.neighbourhood %></strong><br>
    Price Range: <strong><%= @restaurant.price_range %></strong><br>
    Menu: <strong><%= @restaurant.menu_url %></strong><br>
    Website: <strong><%= @restaurant.website %></strong><br>
    Opens at: <strong><%= @restaurant.opens_at %></strong><br>
    Closes at: <strong><%= @restaurant.closes_at %></strong>
  </p>
</div>
<hr>
<div class="restaurant-summary">
  <div class="reservation-form">
    <h2>Make a Reservation</h2>
    <%= render 'reservations/form', restaurant: @restaurant, reservation: @reservation %>
  </div>
</div>
