<!DOCTYPE html>
<html>
  <head>
    <title>SeatYourself</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300" rel="stylesheet">
  </head>

	<body>
		<header>

				<div class="site-logo">
					<%= link_to root_path do %>
						<h1>SeatYourself</h1>
					<% end %>
				</div>

			<div class="user-account">
				<% if session[:user_id] %>
				<span> Hello <%= current_user.name %></span>
				<p><%= link_to 'Account', users_path(current_user) %> |
        <%= link_to 'Logout', sessions_path, method: :delete %></p>
				<% else %>
				<p><%= link_to 'New User', new_users_path %> | <%= link_to 'Log In', new_sessions_path %></p>
				<% end %>
			</div>

      <div class="error_explanation">
        <% if flash.any? %>
        <% flash.each do |key, value| %>
        <h3 class="<%= key %>">
          <%= value %>
        </h3>
        <% end %>
       <% end %>
     </div>

		</header>
		<%= yield %>
	</body>
	<footer>
		<a href="https://github.com/sizzlecentral"><div class="footer-list">
			<h3>Don Cooper</h3>
			<ul>
				<li>sizzlecentral</li>
			</ul>
		</div></a>
		<a href="https://github.com/juhangsin"><div class="footer-list">
			<h3>JuHang Sin</h3>
			<ul>
				<li>juhangsin</li>
			</ul>
		</div></a>
		<a href="https://github.com/vwolanyk"><div class="footer-list">
			<h3>Vlad Wolanyk</h3>
			<ul>
				<li>vwolanyk</li>
			</ul>
		</div></a>
		<p>&copy; 2017 Team 3G Network</p>
	</footer>
</html>
